**/*.cache
**/*.db
**/*.dll
**/*.exe
**/*.exp
**/*.idb
**/*.ilk
**/*.iobj
**/*.ipdb
**/*.lib
**/*.log
**/*.obj
**/*.opensdf
**/*.pdb
**/*.sdf
**/*.suo
**/*.tlog
**/*.user
**/.DS_Store
**/.vscode
**/Debug
**/Release
**/ipch
**/x64
**/x86
